<h1><%= @kitten.name %>:</h1>

<ul>
  <li>Age: <%= @kitten.age %></li>
  <li>Cuteness: <%= @kitten.cuteness %></li>
  <li>Softness: <%= @kitten.softness %></li>
</ul>

<div><%= link_to "Change", edit_kitten_path %></div>
<div><%= link_to "Home", :root %></div>
<div><%= link_to "Remove Kitten", @kitten, data: { turbo_method: "delete" } %></div>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>